.form__link{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    color: #fff;
    text-decoration: none;
}

.form__link:hover{
    opacity: 0.8;
}