.popup-pic__close-button-pic {
  position: absolute;
  top: -50px;
  right: -30px;
  padding: 20px;
  background: url(../../../images/closeIcon.svg);
  background-position: center;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  z-index: 1;
}

.popup-pic__close-button-pic:hover {
  opacity: .6;
}

.popup-pic__close-button-pic:active {
  outline: none;
}

.popup-pic__close-button-pic:focus {
  outline: none;
}

@media screen and (max-width: 510px) {
  .popup-pic__close-button-pic {
    padding: 14px;
    top: -35px;

    right: -30px;
  }

}

