.form__button_loading{
    width: 358px;
    min-height: 50px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: black;
    color: white;
    border: none;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 48px 0 36px;
    display: none;
  }


  .form__button_loading:hover {
    opacity: .8;
    cursor: pointer;
  }

  @media screen and (max-width: 510px) {
    .form__button_loading {
      font-size: 14px;
      line-height: 17px;
      width: 238px;
      min-height: 46px;
    }
  }
